body{

    background-color: rgb(132, 135, 137);

}

header{
    display: flex;
    background-color: rgb(222, 168, 202);
}

.cabecalho_imagem{

    width: 200px;
    height: 200px;
    border-radius: 50%;

}





























.elementos {
display: flex;

}
.container{
border: 2px solid black;
padding: 20px;
text-align: center;
}

.elementos_container-imagem{
    




}


